<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>You LOST!</title>
  </head>
  <body>
    <h1>Sorry, you lose! reset and try again!</h1>

    <h2>The answer was: <%=@random%> </h2>

    <h3>Time for a new game ;)</h3>
  </body>
</html>
