<!DOCTYPE html>
<html>
  <head>
    <title>Hi/Lo Game</title>
  </head>
  <body>
    <h1> <%=@given_name%>, <%=@message%></h1>
    <h1> <%=@result%> </h1>
    <br>
    <form action="/game" method="get">
      <input type="text" name="guess">
      <input type="Submit">
    </form>

    <h2>Guesses: <%=@counter%>/5</h2>

    <br>
  </body>
</html>
