<!DOCTYPE html>
<html>
  <head>
    <title>Hi/Lo Game</title>
  </head>
  <body>
    <h1> <%=@message%></h1>
    <h1> <%=@result%> </h1>
    <br>
    <h2>Counter: <%=@counter%></h2>

    <br>
    <%=@random%>
  </body>
</html>
