<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>You WON!</title>
  </head>
  <body>
    <h1>You won!! You should feel really good about yourself!</h1>
    <h3>Time for a new game ;)</h3>
    <a href="http://localhost:3000/new_game">New Game</a>
  </body>
</html>
